<!DOCTYPE html>
<html lang="en">
    <head>
		<%- include("../partials/head") %>
		<script src="common.js"></script>
    </head>
    <header>
		<%- include("../partials/header", { authenticated: authenticated }) %>
    </header>
    <body class="container">
		<main>
			<form class="login" action="/login" method="POST">
				<div class="form-group">
				  	<label for="username">Username</label>
				  	<input class="form-control" name="username" aria-describedby="usernameLabel">
				  	<small id="usernameLabel" class="form-text text-muted">Usernames and passwords are case-sensitive!</small>
				</div>
				<div class="form-group">
				  	<label for="password">Password</label>
				  	<input type="password" class="form-control" name="password">
				</div>
				<button type="submit" class="btn btn-primary">Login</button>
			</form>
			<button for="login" class="btn register">Register</button>

			<div class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Nothing to report!</h5>
                        </div>
                        <button id="closeModal" class="btn btn-success">Close</button>
                    </div>
                </div>
            </div>
		</main>

		<style type="text/css">
			.register {
				background-color: transparent;
				font-size: 16px;
			}

			.btn-primary {
				float: left;
			}
		</style>
		
		<script>
			document.querySelector('.register').addEventListener('click', function(e) {
				e.preventDefault();

				const username = document.querySelector('*[name="username"]').value;
				const password = document.querySelector('*[name="password"]').value;
				if(!username.length || !password.length) {
					return;
				}

				return request('/register', {
					method: 'POST',
					body: JSON.stringify({
						username, password
					}),
					headers: {
						'Content-Type': 'application/json'
					}
				}, function(err, data) {
					if(err) {
						modal(err.message);
					} else if(data.message === true) {
						modal('Created Account!');
					} else {
						modal(data.message === false ? 'Account name already taken!' : data.message);
					}
				});
			});
		</script>
		
		<footer>
            <%- include("../partials/footer") %>
        </footer>
    </body>
</html>

