<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head") %>
    </head>
    <header>
        <%- include("../partials/header", { authenticated: authenticated }) %>
    </header>
    <body class="container">
        <main>
            <div class="jumbotron">
                <h1>Bit-Pad</h1>
                <p>Welcome to Bit-Pad</p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3"></span>
                    </div>
                    <input type="text" class="form-control" id="inputCreate" aria-describedby="basic-addon3">
                    <button class="btn btn-outline-secondary" type="button" id="create">Create</button>
                </div>
            </div>

            <div class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Nothing to report!</h5>
                        </div>
                        <button id="closeModal" class="btn btn-success">Close</button>
                    </div>
                </div>
            </div>

            <style type="text/css">
                #closeModal {
                    width: 15%;
                    height: 5%;
                    text-align: center;
                }
            </style>

        <script type="application/javascript">
            window.addEventListener('load', function() {
                document.querySelector('.input-group-text').textContent = 
                    window.location.protocol + '//' + window.location.host + '/pad/';
            });

            document.getElementById('closeModal').addEventListener('click', function() {
                document.querySelector('.modal').style.display = 'none';
            });

            document.getElementById('create').addEventListener('click', function() { 
                const name = document.getElementById('inputCreate').value;
                if( !name.length || 
                    !('fetch' in window) ||
                    !('Promise' in window)
                ) return window.location.href = '/';

                return fetch('create', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ name })
                })
                .then(function(r) { 
                    return r.json();
                })
                .then(function(data) {
                    if(data.message) {
                        document.querySelector('.modal-title').textContent = data.message;
                        document.querySelector('.modal').style.display = 'block';
                    } else if(data.name) {
                        window.location.href = '/pad/' + data.name;
                    }
                });
            });
        </script>

        <footer>
            <%- include("../partials/footer") %>
        </footer>
    </body>
</html>