<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head") %>
    </head>
    <header>
        <%- include("../partials/header") %>
    </header>
    <body class="container">
        <main>
            <div class="jumbotron">
                <h1>Bit-Pad</h1>
                <p>Welcome to Bit-Pad</p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3"></span>
                    </div>
                    <input type="text" class="form-control" id="inputCreate" aria-describedby="basic-addon3">
                    <button class="btn btn-outline-secondary" type="button" id="create">Create</button>
                </div>
            </div>
        </main>

        <script type="application/javascript">
            window.addEventListener('load', function() {
                document.querySelector('.input-group-text').textContent = 
                    window.location.protocol + '//' + window.location.host + '/pad/';
            });

            document.getElementById('create').addEventListener('click', function() { 
                const value = document.getElementById('inputCreate').value;
                if( !value.length || 
                    !('fetch' in window) ||
                    !('Promise' in window)
                ) return window.location.href = '/error';

                return fetch('register', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ name: value })
                })
                .then(function(r) { 
                    return r.status === 200 ? r.json() : null })
                .then(function(data) {
                    return window.location.href = data && data.pad ? data.pad : '/error' });
            });
        </script>

        <footer>
            <%- include("../partials/footer") %>
        </footer>
    </body>
</html>