<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head") %>
    </head>
    <header>
        <%- include("../partials/header") %>
    </header>
    <body class="container">
        <main>
            <div class="jumbotron">
                <h1>An error occured!</h1>
            </div>
        </main>

        <footer>
            <%- include("../partials/footer") %>
        </footer>
    </body>
</html>