<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head") %>
    </head>
    <header>
        <%- include("../partials/header") %>
    </header>
    <body class="container">
        <main>
            <div class="jumbotron">
                <h1>Bit-Pad</h1>
                <p>Welcome to Bit-Pad</p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">https://khafra.club/pad/</span>
                    </div>
                    <input type="text" class="form-control" id="inputCreate" aria-describedby="basic-addon3">
                    <button class="btn btn-outline-secondary" type="button" id="create">Create</button>
                </div>
            </div>
        </main>

        <script type="application/javascript">
            document.getElementById('create').onclick = function() {
                const value = document.getElementById('inputCreate').value;
                if(!value.length) return false;

                $.post({
                    url: 'register',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    data: JSON.stringify({ "name": value })
                }).done(function(data) {
                    if(data && data.pad) {
                        window.location.href = data.pad;
                    } else {
                        window.location.href = '/error';
                    }
                });
            };
        </script>

        <footer>
            <%- include("../partials/footer") %>
        </footer>
    </body>
</html>